<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../public/third/style.css">
        <link rel="shortcut icon" href="../imagenes/ecologo.ico" type="image/x-icon">
        <title>Tienda Eco-friendly</title>
    </head>
    <body>
        <div class="container">
            <header>
                <section>
                    <article>
                        <img src="../imagenes/ecologo.png" alt="">
                    </article>
                </section>
                <section>
                    <article>
                        <nav>
                            <details open>
                                <summary>
                                    <p>Menu</p>
                                    <img src="../imagenes/manu.png" alt="">
                                </summary>
                                <ul>
                                    <li><a href="../index.html">Inicio</a></li>
                                    <li><a href="../views/second.html">Venta de productos</a></li>
                                </ul>
                            </details>
                        </nav>
                    </article>
                </section>
            </header>
            <main>
                <section>
                    <h1>TIENDA ECO-FRIENDLY</h1>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/woDBkEIcs9w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p>Una tienda ecológica es un lugar en el que podemos encontrar productos elaborados con prácticas respetuosas con el medio ambiente y el equilibrio ecológico en general. Es decir, se trata de productos que van mucho más allá de su uso; suponen, en el fondo, una contribución social a gran escala.</p>
                </section>
                <section>
                    <h2>¿Cuál es el objetivo principal de las tiendas ecológicas?</h2>
                    <img src="../imagenes/tiendaecológica.jpg" alt="">
                    <p>Apostar por otro modelo de consumo no es sencillo, aunque no imposible. Entre las alternativas que han comenzado a perfilarse en los últimos años hay una que cada día gana más adeptos en todos los sectores del comercio: las tiendas ecológicas, lugares especializado en la venta de productos elaborados de forma natural y cuyos productores se muestran respetuosos con los ecosistemas y el equilibrio medioambiental.</p>
                </section>
                <section>
                    <p>PARA SABER MÁS</p>
                    <a href="https://blog.oxfamintermon.org/tienda-ecologica-otra-forma-de-entender-la-venta-de-productos/">Tienda ecológica, otra forma de entender la venta de productos</a>
                </section>
            </main>
            <footer>
                <section>
                    <a href="/"><i class="fab fa-facebook-square"></i></a>
                    <a href="/"><i class="fab fa-instagram-square"></i></a>
                    <a href="/"><i class="fab fa-whatsapp-square"></i></a>
                </section>
            </footer>
        </div>
    </body>
    <script src="https://kit.fontawesome.com/f6816dd194.js" crossorigin="anonymous"></script>
</html>