<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="second/style.css">
        <link rel="shortcut icon" href="imagenes/ecologo.ico" type="image/x-icon">
        <title>Venta de productos</title>
    </head>
    <body>
        <div class="container">
            <header>
                <section>
                    <article>
                        <img src="imagenes/ecologo.png" alt="">
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/KqzwEQeGDis" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    </article>
                </section>
                <section>
                    <article>
                        <nav>
                            <details open>
                                <summary>
                                    <p>Menu</p>
                                    <img src="imagenes/manu.png" alt="">
                                </summary>
                                <ul>
                                    <li><a href="/">Inicio</a></li>
                                    <li><a href="/third">Tienda Eco-friendly</a></li>
                                </ul>
                            </details>
                        </nav>
                    </article>
                </section>
            </header>
            <main>
                <section>
                    <article>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/KqzwEQeGDis" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </article>
                </section>
                <section>
                    <article>
                        <h1>VENTA DE PRODUCTOS</h1>
                        <p>Los productos ecológicos, también conocidos como biológicos
                        u orgánicos, se cultivan con un sistema de producción que 
                        combina las mejores prácticas ambientales con la preservación 
                        de los recursos naturales</p>
                        <h2>¿Qué es un producto ecológico?</h2>
                        <p>Todo alimento cultivado respetando los ciclos de la naturaleza, 
                        sin pesticidas químicos ni fertilizantes sintéticos o transgénicos,
                        rotando los cultivos para aprovechar los nutrientes propios de 
                        la tierra. Este tipo de producción fomenta las especies locales 
                        resistentes a plagas y enfermedades. En el caso de la ganadería, 
                        los animales viven en semilibertad y está prohibido el uso de 
                        antibióticos y hormonas</p>
                    </article>
                    <aside>
                        <figure>
                            <img src="imagenes/razonesproductos.jpg">
                            <figcaption>10 buenas razones para consumir productos ecológicos.</figcaption>
                        </figure>
                        <figure>
                            <img src="imagenes/21productos.jpg">
                            <figcaption>Los 21 productos ecológicos más innovadores del mundo.</figcaption>
                        </figure>
                    </aside>
                </section>
                <section>
                    <h2>Productos que puedes adquirir</h2>
                </section>
                <section>
                    <article>
                        <figure>
                            <figcaption>Bolsas de Red</figcaption>
                            <img src="imagenes/bolsas.jpg">
                        </figure>
                        <p>Haz lo propio para ir a la compra o guardar cosas en casa con este set de 12 unidades —en 3 tamaños diferentes— de bolsas de red reutilizables. Son 100% lavables, de larga duración y cuentan con un cordón que facilita su cierre y apertura.</p>
                    </article>
                    <article>
                        <p>Otro de los cambios más comunes y sencillos de llevar a cabo es el de sustituir las maquinillas de afeitar desechables por una metálica de larga duración.</p>
                        <figure>
                            <figcaption>Maquinilla para afeitar de acero inoxidable</figcaption>
                            <img src="imagenes/rastrillo.jpg">
                        </figure>
                    </article>
                </section>
            </main>
            <footer>
                <section>
                    <a href="mailto:ramirezgonzalezd19@gmail.com">Envíame un correo (Danna Paola Ramírez González)</a>
                </section>
                <section>
                    <a href="https://github.com/AlejandroJBArellano"><i class="fab fa-github-square"></i></a>
                    <a href="https://www.facebook.com/Arellano-Full-Stack-Developer-102485652047487"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/arellanodevweb/"><i class="fab fa-instagram-square"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=524521590132"><i class="fab fa-whatsapp-square"></i></a>
                </section>
            </footer>
        </div>
    </body>
    <script src="https://kit.fontawesome.com/f6816dd194.js" crossorigin="anonymous"></script>
</html>