@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

//Variables de familia de fuentes
$titulo: 'Squada One', cursive;
$subtitulo: 'Orelega One', cursive;
$texto: 'El Messiri', sans-serif;

// Variables de colores
$verdeAquaClaro: #d0f4c62e;
$verdeClaro: #bfdb6a3b;
$amarillo: #d5c31e3f;
$verdePasto:#8ea11138;
$verdeOscuro: #3863072c;

body{
    background: rgb(56,99,7);
    background: linear-gradient(225deg, rgba(56,99,7,1) 2%, rgba(213,194,30,1) 55%, rgba(143,161,17,1) 92%);
    .container{
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 20px;
            section{
                position: sticky;
                top: 0;
                height: 15vh;
                article{
                    height:100%;
                    box-sizing: border-box;
                    img{
                        height: 100%;
                    }
                    nav{
                        height: 100%;
                        details{
                            font-family: $subtitulo;
                            font-weight: 100;
                            height: 100%;
                            summary{
                                cursor: pointer;
                                list-style: none;
                                display: inline;
                                text-align: right;
                                &:focus{
                                    outline: none;
                                }
                                p{
                                    display: none;
                                }
                                img{
                                    display: inline-block;
                                    margin: auto;
                                }
                                p, img{
                                    height: 7vh;
                                    margin: 0;
                                    padding: 10px;
                                    color: white;
                                    background-color: $amarillo;
                                    border: 2px solid transparent;
                                    border-radius: 10px;
                                    user-select: none;
                                    transition: all .5s ease;
                                    &:hover{
                                        box-shadow: 0px 3px 3px 7px rgba(0, 0, 0, 0.2);
                                    }
                                }
                            }
                            ul{
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                display: inline-block;
                                li{
                                    a,a:visited{
                                        display: inline;
                                        text-decoration: none;
                                        color: black;
                                        margin: 10px;
                                        user-select: none;
                                        transition:all .5s ease;
                                        &:hover{
                                            text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.55);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        main{
            text-align: center;
            section{
                margin: 0;
                h1{
                    font:60px $titulo;
                    letter-spacing: 4px;
                    word-spacing: 5px;
                }
                h2{
                    font: 38px $subtitulo;
                    font-weight: 200;
                }
                p{
                    letter-spacing: 2px;
                    word-spacing: 3px;
                    font: 30px $texto;
                    margin: 0 30px;
                }
                img{
                    width: 40%;
                }
                &:last-child{
                    padding: 20px 0;
                    background-color: $verdeOscuro;
                    p{
                        border: 3px solid black;
                        font-family: $subtitulo;
                        display: inline-block;
                        padding: 10px;
                        background-color: $verdePasto;
                        border-radius: 8px;
                        color: black;
                        font-weight: 100;
                        letter-spacing: 2px;
                        transition: all .5s ease;
                        &:hover{
                            box-shadow: 0px 6px 19px 8px rgba(0, 0, 0, 0.65);
                        }
                    }
                    a,a:visited{
                        display: block;
                        text-decoration: none;
                        color: rgb(0, 123, 255);
                        margin: 10px 0 0 0;
                        font-size: 25px;
                        transition:all .5s ease-in;
                        &:hover{
                            text-shadow: 0px -1px 6px rgba(0, 0, 0, 0.71);
                        }
                    }
                }
            }
        }
        footer{
            display: flex;
            justify-content: center;
            section{
                margin: 10px 0;
                a{
                    i{
                        font-size: 60px;
                        color: $verdeOscuro;
                    }
                }
            }
        }
    }
}

// * MEDIA QUERIES

@media screen and (max-width: 600px) {
    body{
        .container{
            header{
                section{
                    article{
                        nav{
                            details{
                                summary{
                                    display: block;
                                    text-align: right;
                                    p{
                                        display: inline;
                                    }
                                    img{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            main{
                section{
                    &:first-child{
                        iframe{
                            width: 100%;
                        }
                    }
                    img{
                        width: 100%;
                    }
                }
            }
            footer{}
        }
    }
}
