@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

//Variables de familia de fuentes
$titulo: 'Squada One', cursive;
$subtitulo: 'Orelega One', cursive;
$texto: 'El Messiri', sans-serif;

// Variables de colores
$verdeAquaClaro: #d0f4c62e;
$verdeClaro: #bfdb6a3b;
$amarillo: #d5c31e3f;
$verdePasto:#8ea11138;
$verdeOscuro: #3863072c;

body{
    background: rgb(56,99,7);
    background: linear-gradient(225deg, rgba(56,99,7,1) 2%, rgba(213,194,30,1) 55%, rgba(143,161,17,1) 92%);
    .container{
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 20px;
            section{
                position: sticky;
                top: 0;
                height: 15vh;
                article{
                    height:100%;
                    box-sizing: border-box;
                    img{
                        height: 100%;
                    }
                    nav{
                        height: 100%;
                        details{
                            &[open]{
                                
                            }
                            font-family: $subtitulo;
                            font-weight: 100;
                            height: 100%;
                            summary{
                                cursor: pointer;
                                list-style: none;
                                display: inline;
                                text-align: right;
                                &:focus{
                                    outline: none;
                                }
                                p{
                                    display: none;
                                }
                                img{
                                    display: inline-block;
                                    margin: auto;
                                }
                                p, img{
                                    height: 7vh;
                                    margin: 0;
                                    padding: 10px;
                                    color: white;
                                    background-color: $amarillo;
                                    border: 2px solid transparent;
                                    border-radius: 10px;
                                    user-select: none;
                                    transition: all .5s ease;
                                    &:hover{
                                        box-shadow: 0px 3px 3px 7px rgba(0, 0, 0, 0.2);
                                    }
                                }
                            }
                            ul{
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                display: inline-block;
                                li{
                                    a,a:visited{
                                        display: inline;
                                        text-decoration: none;
                                        color: black;
                                        margin: 10px;
                                        user-select: none;
                                        transition:all .5s ease;
                                        &:hover{
                                            text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.55);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        main{
            section{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                column-gap: 10px;
                margin: 20px;
                article{
                    background-color: $verdeOscuro;
                    display: grid;
                    grid-row: span 3;
                    row-gap: 20px;
                    padding: 20px;
                    border-radius: 10px;
                    transition: all .5s ease;
                    &:hover{
                        box-shadow: 0px 6px 19px 8px rgba(0, 0, 0, 0.65);
                    }
                    h2{
                        margin: 0;
                        text-align: center;
                        font-family: $subtitulo;
                        font-weight: 200;
                        margin: 10px 0;
                    }
                    img{
                        overflow: hidden;
                        width: 100%;
                        height: 200px;
                    }
                    ul{
                        margin: 0;
                        padding: 20px;
                        list-style: disc;
                        li{
                            font-family: $texto;
                        }
                    }
                    div{
                        font-family: $texto;
                        p{
                            margin: 0;
                        }
                        ol{
                            padding: 0 20px;
                        }
                    }
                }
            }
        }
        footer{
            section{
                &:first-child{
                    display: block;
                    text-align: center;
                    a,a:visited{
                        font: 25px $texto;
                        color: black;
                        text-decoration: none;
                        transition: all .5s ease-out;
                        &:hover{
                            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
                        }
                    }
                }
                display: flex;
                justify-content: center;
                margin: 10px;
                a,a:visited{
                    i{
                        margin: 10px;
                        font-size: 60px;
                        color: $verdeOscuro;
                        transition: all .5s ease-in-out;
                        &:hover{
                            transform: translate(0px, -10px);
                            text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.8);
                        }
                    }
                }
            }
        }
    }
}

// * MEDIA QUERIES

@media screen and (max-width: 600px) {
    body{
        .container{
            header{
                section{
                    article{
                        nav{
                            details{
                                margin: 20px 0;
                                summary{
                                    display: block;
                                    text-align: right;
                                    p{
                                        display: inline;
                                    }
                                    img{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            main{
                section{
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(3,1fr);
                    row-gap: 20px;
                    article{}
                }
            }
            footer{}
        }
    }
}