@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");
body .container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
}

body .container header section {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 15vh;
}

body .container header section article {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container header section article img {
  height: 100%;
}

body .container header section article nav {
  height: 100%;
}

body .container header section article nav details {
  font-family: "Orelega One", cursive;
  font-weight: 100;
  height: 100%;
}

body .container header section article nav details summary {
  cursor: pointer;
  list-style: none;
  display: inline;
  text-align: right;
}

body .container header section article nav details summary:focus {
  outline: none;
}

body .container header section article nav details summary p {
  display: none;
}

body .container header section article nav details summary img {
  display: inline-block;
  margin: auto;
}

body .container header section article nav details summary p, body .container header section article nav details summary img {
  height: 7vh;
  margin: 0;
  padding: 10px;
  color: white;
  background-color: darkolivegreen;
  border: 2px solid transparent;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .container header section article nav details ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

body .container header section article nav details ul li a, body .container header section article nav details ul li a:visited {
  display: inline;
  text-decoration: none;
  color: black;
  margin: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .container main section:first-child article figure {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .container main section:nth-child(2) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 15px;
}

body .container main section:nth-child(2) article:first-child {
  grid-column: span 3;
}

body .container main section:nth-child(2) article:first-child h1 {
  font-family: "Squada One", cursive;
}

body .container main section:nth-child(2) article:first-child h2 {
  font-family: "Orelega One", cursive;
}

body .container main section:nth-child(2) article:first-child p {
  font: 25px "El Messiri", sans-serif;
}

body .container main section:nth-child(2) aside {
  grid-column: span 1;
}

body .container main section:nth-child(2) aside figure {
  border: 3px solid black;
}

body .container main section:nth-child(2) aside figure img {
  vertical-align: top;
  width: 100%;
}

body .container main section:nth-child(2) aside figure figcaption {
  text-align: center;
  font-family: "Orelega One", cursive;
}

body .container main section:nth-child(3) {
  text-align: center;
  font-family: "Orelega One", cursive;
}

body .container main section:nth-child(4) article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 10px 0;
  place-items: center;
}

body .container main section:nth-child(4) article figure {
  grid-column: span 1;
  margin: 20px;
  border: 3px solid black;
  padding: 20px;
}

body .container main section:nth-child(4) article figure figcaption {
  font: 30px "Orelega One", cursive;
  font-weight: 500;
  text-align: center;
}

body .container main section:nth-child(4) article figure img {
  width: 100%;
}

body .container main section:nth-child(4) article p {
  grid-column: span 1;
  font-size: 30px;
  margin: 30px;
  font-family: "El Messiri", sans-serif;
}

body .container main section:nth-child(4) article:nth-child(2) p {
  text-align: right;
}

body .container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container footer section {
  margin: 10px 0;
}

body .container footer section a i {
  font-size: 60px;
  color: darkolivegreen;
}

@media screen and (max-width: 600px) {
  body .container header section article nav details summary {
    display: block;
    text-align: right;
  }
  body .container header section article nav details summary p {
    display: inline;
  }
  body .container header section article nav details summary img {
    display: none;
  }
  body .container main section:first-child article figure img {
    width: 100%;
  }
  body .container main section:nth-child(2) {
    display: block;
  }
  body .container main section:last-child article {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */