@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

//Variables de familia de fuentes
$titulo: 'Squada One', cursive;
$subtitulo: 'Orelega One', cursive;
$texto: 'El Messiri', sans-serif;

// Variables de colores
$verdeAquaClaro: #d0f4c62e;
$verdeClaro: #bfdb6a3b;
$amarillo: #d5c31e3f;
$verdePasto:#8ea11138;
$verdeOscuro: #3863072c;

body{
    background: rgb(56,99,7);
    background: linear-gradient(225deg, rgba(56,99,7,1) 2%, rgba(213,194,30,1) 55%, rgba(143,161,17,1) 92%);
    .container{
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 20px;
            section{
                position: sticky;
                top: 0;
                height: 15vh;
                article{
                    height:100%;
                    box-sizing: border-box;
                    img{
                        height: 100%;
                    }
                    nav{
                        height: 100%;
                        details{
                            font-family: $subtitulo;
                            font-weight: 100;
                            height: 100%;
                            summary{
                                cursor: pointer;
                                list-style: none;
                                display: inline;
                                text-align: right;
                                &:focus{
                                    outline: none;
                                }
                                p{
                                    display: none;
                                }
                                img{
                                    display: inline-block;
                                    margin: auto;
                                }
                                p, img{
                                    height: 7vh;
                                    margin: 0;
                                    padding: 10px;
                                    color: white;
                                    background-color: $amarillo;
                                    border: 2px solid transparent;
                                    border-radius: 10px;
                                    user-select: none;
                                    transition: all .5s ease;
                                    &:hover{
                                        box-shadow: 0px 3px 3px 7px rgba(0, 0, 0, 0.2);
                                    }
                                }
                            }
                            ul{
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                display: inline-block;
                                li{
                                    a,a:visited{
                                        display: inline;
                                        text-decoration: none;
                                        color: black;
                                        margin: 10px;
                                        user-select: none;
                                        transition:all .5s ease;
                                        &:hover{
                                            text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.55);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        main{
            section{
                user-select: none;
                &:first-child{
                    background-color: $verdeClaro;
                    article{
                        display: grid;
                        place-items: center;
                    }
                }
                &:nth-child(2){
                    background-color: $verdePasto;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 20px;
                    padding: 25px;
                    article{
                        grid-column: span 3;
                        h1{
                            font-family: $titulo;
                        }
                        h2{
                            font-family: $subtitulo;
                        }
                        p{
                            font: 25px $texto;
                        }
                    }
                    aside{
                        display: grid;
                        place-items: center;
                        grid-column: span 1;
                        background-color: $verdePasto;
                        border: 3px solid black;
                        border-radius: 7px;
                        figure{
                            margin: 20px;
                            background-color: $verdeAquaClaro;
                            border: 2px solid black;
                            transition: all .5s ease;
                            img{
                                width: 100%;
                            }
                            figcaption{
                                text-align: center;
                                font-family: $subtitulo;
                            }
                            &:hover{
                                box-shadow: 0px 3px 3px 7px rgba(0, 0, 0, 0.2);
                                transform: translate(0, -10px);
                            }
                        }
                    }
                }
                &:nth-child(3){
                    text-align: center;
                    font: 35px $subtitulo;
                    margin: 15px 0;
                    h2{
                        margin: 0;
                    }
                }
                &:nth-child(4){
                    background-color: $verdeOscuro;
                    article{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        margin: 10px 0;
                        place-items: center;
                        figure{
                            background-color: $verdePasto;
                            grid-column: span 1;
                            margin: 20px;
                            border: 3px solid black;
                            border-radius: 8px;
                            padding: 20px;
                            figcaption{
                                font: 30px $subtitulo;
                                font-weight: 500;
                                text-align: center;
                            }
                            img{
                                width: 100%;
                                border: 2px solid black;
                            }
                        }
                        p{
                            grid-column: span 1;
                            font-size:30px;
                            margin: 30px;
                            font-family: $texto;
                        }
                        &:nth-child(2){
                            p{
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
        footer{
            section{
                &:first-child{
                    display: block;
                    text-align: center;
                    a,a:visited{
                        font: 25px $texto;
                        color: black;
                        text-decoration: none;
                        transition: all .5s ease-out;
                        &:hover{
                            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
                        }
                    }
                }
                display: flex;
                justify-content: center;
                margin: 10px;
                a,a:visited{
                    i{
                        margin: 10px;
                        font-size: 60px;
                        color: $verdeOscuro;
                        transition: all .5s ease-in-out;
                        &:hover{
                            transform: translate(0px, -10px);
                            text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.8);
                        }
                    }
                }
            }
        }
    }
}

// * MEDIA QUERIES

@media screen and (max-width: 600px) {
    body{
        .container{
            header{
                section{
                    article{
                        nav{
                            details{
                                margin: 20px 0;
                                summary{
                                    display: block;
                                    text-align: right;
                                    p{
                                        display: inline;
                                    }
                                    img{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            main{
                section{
                    &:first-child{
                        article{
                            iframe{
                                width: 100%;
                            }
                        }
                    }
                    &:nth-child(2){
                        display: block;
                    }
                    &:last-child{
                        article{
                            grid-template-columns: 1fr;
                            &:first-child{
                                border-bottom: 5px dotted black;
                            }
                        }
                    }
                }
            }
            footer{
                
            }
        }
    }
}
